/node_modules/*
*.log
.vscode
jsconfig.json
dump
tmp
.idea/*
package-lock.json

simtrack_db
/simtrack_db/*
!simtrack_db/.gitkeep 
/public/uploads*
/public/avatars*
/pg_db/*.sql
/pg_db/dumps/*.sql
/pg_db/*.old

.local
